<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termoo</title>
    <link rel="stylesheet" href="{% static 'palavra/index.css' %}">

</head>
<body>
    <nav>
        <div class="guia">
            <div class="home">
                <a href="">Inicio</a>
            </div>
            <div class="play"><h1>JOGAR</h1></div>
            <div class="nav-buttons">
                <div class="butoes"><a href="">Usuario</a></div>
            </div>
        </div>
        
    </nav>
</body>
</html>